<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Blogs | <%= title %></title>
   <link rel="stylesheet" href="/app.css">
   <link rel="icon" type="image/x-icon" href="/pumpkin.png">
   <style>
      body{
         /* background-color: red; */
      }
   </style>
</head>