<nav>
   <div class="nav-title2">
      <div class="nav-title">
      <a href="/"><h1>Blogs World</h1></a>
      </div>
      <div class="nav-title3">
         <p><a href="/">Blogs</a></p>
         <p><a href="/about">About</a></>
         <p><a href="/blogs/create">New blog</a></p>
      </div>
   </div>
   <hr/>
</nav>
